<p style="color: green"><%= notice %></p>

<h1>Montagens</h1>

<div id="montagems">
  <% @montagems.each do |montagem| %>
    <%= render montagem %>
    <p>
      <%= link_to "Detalhes", montagem %>
    </p>
  <% end %>
</div>

<%= link_to "Nova Montagem", new_montagem_path %>
