<p style="color: green"><%= notice %></p>

<h1>Fornecedores</h1>

<div id="fornecedors">
  <% @fornecedors.each do |fornecedor| %>
    <%= render fornecedor %>
    <p>
      <%= link_to "Detalhes", fornecedor %>
    </p>
  <% end %>
</div>

<%= link_to "Novo", new_fornecedor_path %>
