<div id="<%= dom_id peca %>">
  <p>
    <strong>Nome:</strong>
    <%= peca.nome %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= peca.valor %>
  </p>

  <p>
    <strong>Fornecedor:</strong>
    <%= peca.fornecedor_id %>
  </p>

</div>
