<p style="color: green"><%= notice %></p>

<h1>Peças</h1>

<div id="pecas">
  <% @pecas.each do |peca| %>
    <%= render peca %>
    <p>
      <%= link_to "Detalhes", peca %>
    </p>
  <% end %>
</div>

<%= link_to "Nova Peça", new_peca_path %>
