<div id="<%= dom_id livro %>">
  <p>
    <strong>Titulo do livro:</strong>
    <%= livro.titulo %>
  </p>

  <p>
    <strong>Nome do autor:</strong>
    <%= livro.autor.nome %>
  </p>

  <p>
    <strong>ISBN:</strong>
    <%= livro.isbn %>
  </p>



</div>
