<div id="<%= dom_id livro %>">
  <p>
    <strong>Titulo:</strong>
    <%= livro.titulo %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= livro.isbn %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= livro.autor_id %>
  </p>

</div>
